@media (max-width: 768px) {
  .Wrapper {
    background: #f5f6f8;
  }
  .CardsContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }

  .CommonPadding {
    padding: 20px;
  }

  .Para {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 2px;
    color: #000;
  }

  .FlexContainer {
    display: none;
  }
}

@media (min-width: 1024px) {
  .Wrapper {
    background: #f5f6f8;
  }
  .CardsContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
  }

  .CommonPadding {
    padding: 40px;
  }

  .Para {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000;
  }

  .FlexContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
  }
}
