@media (max-width: 768px) {
  .MenuWrap {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    max-height: 80vh;
    background: #eceeef;
    padding: 30px 20px;
    border-radius: 10px;
    z-index: 10000;

    display: flex;
    flex-direction: column;
    gap: 30px;

    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.35s ease, opacity 0.35s ease;
  }

  .MenuOpen {
    transform: translateY(0);
    opacity: 1;
  }

  .MenuBackdrop {
    position: fixed;
    inset: 0;
    background: #00000047;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 9999;
  }

  .MenuClose {
    position: absolute;
    top: 30px;
    right: 25px;
    cursor: pointer;
    z-index: 10001;
  }

  .CloseIcon {
    width: 15px;
    height: 15px;
  }

  .GreetSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }

  .WelcomeText {
    margin: 0;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  .Icons {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .CartSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .NavSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
  }

  .NavItems {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
  }

  .SearchSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background: #fff;
    width: 70%;
    margin: auto;
    height: 40px;
    border-radius: 10px;
  }

  .NavSearch {
    background: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .MenuWrap {
    display: none;
  }
}
