@media (max-width: 768px) {
  .PlaceOrderSection {
    background: #fff;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

@media (min-width: 768px) {
  .PlaceOrderSection {
    background: #fff;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
@media (min-width: 1024px) {
  .PlaceOrderSection {
    background: #fff;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
