.aboutContainer {
  background: #fff;
  width: 100%;
  min-height: 600px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 140px;
}

.aboutParagraphWrap {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  position: relative;
}
.titleContainer {
  /* margin-bottom: 30px; */
}

.aboutTitleTop {
  margin: 0px;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #000;
}

.aboutTitleBottom {
  margin: 0px;
  margin-left: 100px;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #000;
  position: absolute;
}

.aboutGreenLineContainer {
  min-height: 3px;
  max-height: 3px;
  min-width: 300px;
  position: relative;
}

.aboutGreenLine {
  min-height: 3px;
  max-height: 3px;
  min-width: 300px;
  background: #c9deb1;
}

.greenLineText {
  margin: 0px;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 16px;
  color: #c9deb1;
}

.aboutParagraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #000;
}

.cardsSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.card {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-right: 3px solid #c9deb1;
}

.cardHeading {
  margin: 0;
  font-size: 25px;
  font-weight: 400;
}

.cardParagraph {
  letter-spacing: 1px;
  font-size: 16px;
}
