@media (max-width: 768px) {
  .commonHeroContainer {
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: start;
    overflow: hidden;
  }

  .heroImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .heroImage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    pointer-events: none;
  }

  .heroContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    height: 100%;
    /* padding: 30px 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heroText {
    text-align: center;
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
  }
  .heroButtons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

@media (min-width: 768px and max-width:1024px) {
  .commonHeroContainer {
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: start;
    overflow: hidden;
  }

  .heroImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .heroImage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    pointer-events: none;
  }

  .heroContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    height: 100%;
    /* padding: 30px 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heroText {
    text-align: center;
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
  }
  .heroButtons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .commonHeroContainer {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }

  .heroImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .heroImage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    pointer-events: none;
  }

  .heroContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .heroTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heroText {
    margin: 0px;
    margin: 0px;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
  }

  .heroButtons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
