@media (max-width: 768px) {
  .commonHeroContainer {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }

  .heroImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .heroContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
  }

  .heroButtons {
  }
}

@media (min-width: 1024px) {
  .commonHeroContainer {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }

  .heroImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .heroContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .heroTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heroText {
    margin: 0px;
    margin: 0px;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
  }

  .heroButtons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
