@media (max-width: 768px) {
  .heroBackground {
    /* background-image: url("/images/1.webp"); */
    background-image: url("/images/Fresher Assets-33.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: start;
    align-items: start;
  }
  .heroContent {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .heroText {
    text-align: center;
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
  }
  .heroButtonContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .heroBackground {
    background-image: url("/images/Fresher Assets-33.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .heroContent {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .heroText {
    text-align: center;
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
  }
  .heroButtonContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .heroBackground {
    /* background-image: url("/images/1.webp"); */
    background-image: url("/images/2.webp");
    /* background-image: url("/images/Fresher Assets-33.webp"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .heroContent {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .heroText {
    text-align: start;
    letter-spacing: 4px;
    line-height: 45px;
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
  }

  .heroButtonContainer {
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 20px;
  }
}
