.heroBackground {
  /* background-image: url("/images/1.jpg"); */
  background-image: url("/images/2.jpg");
  /* background-image: url("/images/Fresher Assets-33.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
}

.heroContent {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.heroText {
  text-align: start;
  letter-spacing: 4px;
  line-height: 45px;
  font-size: 40px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}

.heroButtonContainer {
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 20px;
}
