@media (max-width: 768px) {
  .sectionContainer {
    width: 100%;
    padding: 20px;
    background: #fff;
  }

  .mobileHeading {
    display: flex;
    justify-content: center;
  }
  .firstSection {
    display: none;
  }

  .sectionTitle {
    margin: 0px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
  }

  .verticalLine {
    display: none;
  }

  .plantImage {
    display: none;
  }

  .secondSection {
    display: none;
  }

  .thirdSection {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
  }

  .rowWrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .greenLineHorizontal {
    display: none;
  }

  .iconWrap {
    margin: 0;
    font-weight: 300;
    font-size: 50px;
  }

  .rowTop {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .textHolder {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .rowHeading {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
  }

  .rowParagraph {
    margin: 0;
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .mobileHeading {
    display: none;
  }
  .sectionContainer {
    display: flex;
    width: 100%;
    padding: 0px 40px;
    justify-content: space-between;
    /* justify-content: space-evenly; */
  }

  .firstSection {
    padding: 40px 0px;
  }

  .sectionTitle {
    margin: 0px;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #000;
  }

  .verticalLine {
    width: 2px;
    height: auto;
    background: #c9deb1;
    margin-right: 80px;
  }

  .sectionTitleSL {
    margin: 0px;
    font-size: 50px;
    font-weight: 300;
    display: flex;

    letter-spacing: 1px;
    color: #000;
  }

  .plantImage {
    width: 700px;
    height: auto;
  }

  .secondSection {
  }

  .thirdSection {
    /* padding: 40px 0px; */
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .rowWrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    margin-left: auto;
  }

  .greenLineHorizontal {
    height: 2px;
    min-width: 100%;
    background: #c9deb1;
  }

  .iconWrap {
    margin: 0;
    display: flex;
    min-width: 60px;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #c9deb1;
  }

  .icon {
    width: auto;
    height: auto;
  }

  .rowTop {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .textHolder {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .rowHeading {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    text-align: end;
    letter-spacing: 1px;
  }

  .rowParagraph {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: end;
  }
}
