@media (max-width: 768px) {
  .wrapper {
    display: flex;
    padding: 40px 20px;
    gap: 20px;
    justify-content: center;
  }

  .textSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .heading {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
  }

  .paragraphSection {
    display: flex;
    text-align: center;
  }

  .image {
    display: none;
  }
  .paragraph {
    margin: 0;
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: justify;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    display: flex;
    padding: 40px 0px 40px 40px;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
  }

  .textSection {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .heading {
    margin: 0px;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .paragraphSection {
    display: flex;
    border-left: 2px solid #c9deb1;
  }

  .image {
    max-width: 50%;
    height: 240px;
  }
  .paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000;
    margin-left: 20px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    display: flex;
    padding: 60px 40px;
    gap: 40px;
    justify-content: space-between;
  }

  .textSection {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .heading {
    margin: 0px;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .paragraphSection {
    display: flex;
    border-left: 2px solid #c9deb1;
  }

  .image {
    max-width: 50%;
    height: 440px;
  }
  .paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000;
    margin-left: 20px;
  }
}
