@media (max-width: 768px) {
}

@media (min-width: 1024px) {
  .wrapper {
    display: flex;
    padding: 60px 40px;
    gap: 40px;
    justify-content: space-between;
  }

  .textSection {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .heading {
    margin: 0px;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .paragraphSection {
    display: flex;
    border-left: 2px solid #c9deb1;
  }

  .image {
    max-width: 50%;
    height: 440px;
  }
  .paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000;
    margin-left: 20px;
  }
}
