@media (max-width: 768px) {
  .ItemNumberHeading {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
  }
  .GridItems {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0px;
  }

  .FieldLabel {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
  }
  .SelectContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .ItemNumberHeading {
    margin: 0px;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .GridItems {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 20px;
  }

  .FieldLabel {
    font-size: 18px;
    margin: 0px;
    letter-spacing: 1px;
  }
  .SelectContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 1024px) {
  .ItemNumberHeading {
    margin: 0px;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .GridItems {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 20px;
  }

  .FieldLabel {
    font-size: 18px;
    margin: 0px;
    letter-spacing: 1px;
  }
  .SelectContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
