.ctaContainer {
  width: 100%;
  padding: 40px;
  margin-top: 80px;
  background: #c9deb1;
  min-height: 330px;
  max-height: 600px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.ctaLeftSection {
}

.ctaHeading {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
}

.ctaPara {
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 25px;
}

.ctaButtonHolder {
  display: flex;
  gap: 20px;
  /* width: 300px; */
}

.ctaRightSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ctaImage {
  width: 390px;
  height: auto;
  position: absolute;
  left: 30px;
  bottom: 0;
}
