@media (max-width: 768px) {
  .ctaContainer {
    width: 100%;
    padding: 40px;
    background: #c9deb1;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ctaLeftSection {
    display: none;
  }

  .ctaHeading {
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .ctaPara {
    font-size: 13px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 23px;
  }

  .ctaButtonHolder {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .ctaRightSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }

  .ctaImage {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .ctaContainer {
    width: 100%;
    padding: 40px;
    background: #c9deb1;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ctaLeftSection {
    display: none;
  }

  .ctaHeading {
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .ctaPara {
    font-size: 13px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 23px;
  }

  .ctaButtonHolder {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .ctaRightSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }

  .ctaImage {
    display: none;
  }
}
@media (min-width: 1024px) {
  .ctaContainer {
    width: 100%;
    padding: 40px;
    margin-top: 80px;
    background: #c9deb1;
    min-height: 330px;
    max-height: 600px;
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  .ctaLeftSection {
  }

  .ctaHeading {
    margin: 0;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .ctaPara {
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 25px;
  }

  .ctaButtonHolder {
    display: flex;
    gap: 20px;
    /* width: 300px; */
  }

  .ctaRightSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ctaImage {
    width: 390px;
    height: auto;
    position: absolute;
    left: 30px;
    bottom: 0;
  }
}
