@media (max-width: 768px) {
  .SectionWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .DetailsSection {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .CustomerCode {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
  }

  .UserAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #d9d9d9;
  }

  .FlexInputWrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 0px 10px;
  }
  .InputContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: start;
  }
  .InputLabel {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 2px;
    color: #000;
  }
  .InputEl {
    padding: 10px;
    width: 100%;
    outline: none;
    height: 40px;
    border: none;
    background: #fff;
    border-radius: 10px;
    margin: 0px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  .ButtonWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .SectionWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .DetailsSection {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .CustomerCode {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
  }

  .UserAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #d9d9d9;
  }

  .FlexInputWrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 0px 10px;
  }
  .InputContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: start;
  }
  .InputLabel {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 2px;
    color: #000;
  }
  .InputEl {
    padding: 10px;
    width: 100%;
    outline: none;
    height: 40px;
    border: none;
    background: #fff;
    border-radius: 10px;
    margin: 0px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  .ButtonWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .SectionWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .DetailsSection {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }

  .CustomerCode {
    margin: 0px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
  }

  .UserAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #d9d9d9;
  }

  .FlexInputWrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0px 40px;
  }
  .InputContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: start;
  }
  .InputLabel {
    margin: 0px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .InputEl {
    padding: 10px;
    width: 100%;
    outline: none;
    height: 40px;
    border: none;
    background: #fff;
    border-radius: 10px;
    margin: 0px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  .ButtonWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
}
