@media (max-width: 768px) {
  .menuWrapper {
    display: none;
  }
}

@media (min-width: 768px) {
  .menuWrapper {
    position: fixed;
    width: 70px;
    top: 120px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    border-radius: 10px 0px 0px 10px;
    background: #c9deb1;
    color: #000;
    z-index: 999;
  }

  .icon {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .icon:hover {
    transform: scale(1.1);
  }
}
@media (min-width: 1024px) {
  .menuWrapper {
    position: fixed;
    width: 70px;
    top: 120px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    border-radius: 10px 0px 0px 10px;
    background: #c9deb1;
    color: #000;
    z-index: 999;
  }

  .icon {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .icon:hover {
    transform: scale(1.1);
  }
}
