@media (min-width: 1024px) {
  .DetailsSection {
    background: #f0f0f0;
    padding: 40px 20px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }

  .CustomerCode {
    margin: 0px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
  }

  .FlexInputWrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0px 40px;
  }
  .InputContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: start;
  }
  .InputLabel {
    margin: 0px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .InputEl {
    padding: 10px;
    width: 100%;
    outline: none;
    height: 40px;
    border: none;
    background: #fff;
    border-radius: 10px;
    margin: 0px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  .PasswordPara {
    margin: 0px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  .UOlist {
    width: 100%;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 30px;
    color: #6a6a6a;
  }

  .ButtonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
