@media (max-width: 768px) {
  .CardWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .CardIconContainer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background: red; */
  }
  .CardIcon {
  }
  .CardDetailsSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .CardTitle {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
    text-align: center;
  }
  .Cardpara {
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
  }
}

@media (min-width: 768px and max-width:1024px) {
  .CardWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .CardIconContainer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background: red; */
  }
  .CardIcon {
  }
  .CardDetailsSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }
  .CardTitle {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
  }
  .Cardpara {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    line-height: 30px;
    letter-spacing: 1px;
  }
}
@media (min-width: 1024px) {
  .CardWrapper {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
  }
  .CardIconContainer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background: red; */
  }
  .CardIcon {
  }
  .CardDetailsSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-between;
  }
  .CardTitle {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
  }
  .Cardpara {
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
  }
}
