@media (max-width: 768px) {
  .DetailsSection {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .FilterSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .FlexContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .AccPara {
    margin: 0px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .DetailsSection {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .FilterSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .FlexContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .AccPara {
    margin: 0px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
  }
}

@media (min-width: 1024px) {
  .DetailsSection {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .FilterSection {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .FlexContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .AccPara {
    margin: 0px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
  }
}
