@media (max-width: 1023px) {
  .Wrapper {
    display: flex;
    flex-direction: column;
    background: #fff;
  }
  .MainHeading {
    margin: 0px 20px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 25px;
    color: #000;
  }
  .Para {
    padding: 20px;
    margin: 0px;
    letter-spacing: 1px;
    line-height: 28px;
    text-align: justify;
    font-weight: 400;
    font-size: 14px;
    color: #000;
  }
}

@media (min-width: 1024px) {
  .Wrapper {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: #fff;
  }
  .MainHeading {
    margin: 0px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 35px;
    color: #000;
  }
  .Para {
    margin: 0px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #000;
  }
}
