@media (min-width: 1024px) {
  .SectionWrapper {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: #f0f0f0;
    border-radius: 15px;
  }

  .SectionHeading {
    margin: 0px;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 400;
  }

  .SectionPara {
    margin: 0px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
  }
}
