@media (min-width: 1024px) {
  .ProductsContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background: #f5f6f8;
  }

  .ItemsText {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
    color: #000;
  }

  .ButtonContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
  }

  .FlexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
