@media (max-width: 768px) {
  .FormWrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    gap: 20px;
  }
  .FlexContainer {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .InputEl {
    height: 50px;
    font-family: "rubik" !important;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: #eceeef;
    color: #6a6a6a;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
  }

  .TextArea {
    height: 150px;
    font-family: "rubik" !important;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: #eceeef;
    color: #6a6a6a;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .FormWrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .FlexContainer {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .InputEl {
    height: 50px;
    font-family: "rubik" !important;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: #eceeef;
    color: #6a6a6a;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
  }

  .TextArea {
    height: 150px;
    font-family: "rubik" !important;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: #eceeef;
    color: #6a6a6a;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
  }
}
@media (min-width: 1024px) {
  .FormWrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .FlexContainer {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .InputEl {
    height: 50px;
    font-family: "rubik" !important;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: #eceeef;
    color: #6a6a6a;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
  }

  .TextArea {
    height: 150px;
    font-family: "rubik" !important;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: #eceeef;
    color: #6a6a6a;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
  }
}
