@media (max-width: 768px) {
  .footerContainer {
    background: #fff;
    padding: 60px 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .footerItemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .footerItems {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .footerLogo {
    width: 200px;
    height: auto;
    max-height: 60px;
  }

  .footerHeadings {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .footerParas {
    margin: 0;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 2px;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .footerContainer {
    background: #fff;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    /* justify-content: space-between; */
  }

  .footerItemsContainer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
  }

  .footerItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footerLogo {
    width: 200px;
    height: auto;
    max-height: 60px;
  }

  .footerHeadings {
    margin: 0;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 400;
  }

  .footerParas {
    margin: 0;
    letter-spacing: 1px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 300;
  }
}

@media (min-width: 1024px) {
  .footerContainer {
    background: #fff;
    padding: 60px 40px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 150px;
    /* justify-content: space-between; */
  }

  .footerItemsContainer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 150px;
  }

  .footerItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footerLogo {
    width: 200px;
    height: auto;
    max-height: 60px;
  }

  .footerHeadings {
    margin: 0;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 400;
  }

  .footerParas {
    margin: 0;
    letter-spacing: 1px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 300;
  }
}
