@media (max-width: 768px) {
  .ctaContainer {
    width: 100%;
    padding: 40px;
    background: #c9deb1;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ctaRightSection {
    display: none;
  }
  .ctaLeftSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }

  .ctaHeading {
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
  }

  .ctaPara {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 23px;
    color: #000;
  }

  .ctaButtonHolder {
    width: 300px;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .ctaContainer {
    width: 100%;
    padding: 40px;
    background: #c9deb1;
    min-height: 230px;
    max-height: 340px;
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  .ctaLeftSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ctaHeading {
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
  }

  .ctaPara {
    font-size: 13px;
    font-weight: 400;
    max-width: 350px;
    line-height: 23px;
    letter-spacing: 2px;
    color: #000;
  }

  .ctaButtonHolder {
    width: 300px;
  }

  .ctaRightSection {
  }

  .ctaImage {
    width: 420px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media (min-width: 1024px) {
  .ctaContainer {
    width: 100%;
    padding: 40px;
    background: #c9deb1;
    min-height: 330px;
    max-height: 600px;
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  .ctaLeftSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ctaHeading {
    margin: 0;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #000;
  }

  .ctaPara {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000;
  }

  .ctaButtonHolder {
    width: 300px;
  }

  .ctaRightSection {
  }

  .ctaImage {
    width: 540px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
