@media (max-width: 768px) {
  .cardWrapper {
    max-width: 100%;
    background: #fff;
  }

  .cardDetailsHolder {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }

  .cardImage {
    width: 100%;
    height: auto;
  }

  .cardTitle {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
  }

  .cardSubTitle {
    color: #c9deb1;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .cardPara {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 2px;
    color: #000;
  }

  .cardButton {
  }
}
@media (min-width: 768px and max-width:1024px) {
  .cardWrapper {
    max-width: 100%;
    background: #fff;
  }

  .cardDetailsHolder {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }

  .cardImage {
    width: 100%;
    height: auto;
  }

  .cardTitle {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
  }

  .cardSubTitle {
    color: #c9deb1;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .cardPara {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 2px;
    color: #000;
  }

  .cardButton {
  }
}

@media (min-width: 1024px) {
  .cardWrapper {
    max-width: 450px;
    background: #fff;
  }

  .cardDetailsHolder {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .cardImage {
    width: 450px;
    height: auto;
  }

  .cardTitle {
    margin: 0px;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  .cardSubTitle {
    margin: 0px;
    font-size: 28px;
    color: #c9deb1;
    letter-spacing: 1px;
    font-weight: 300;
  }

  .cardPara {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000;
  }

  .cardButton {
  }
}
