@media (max-width: 768px) {
  .SectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    background-image: url("/images/Fresher Assets-23.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    color: #fff;
    max-width: 600px;
  }

  .SectionWrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: inherit;
    z-index: 1;
  }

  .SectionWrapper > * {
    position: relative;
    z-index: 2;
  }

  .SectionTitle {
    font-size: 24px;
    margin: 0px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
  }

  .SectionPara {
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
  }

  .InputEl {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    background: #fff;
    color: #000;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .SectionWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: start;
    padding: 50px;
    border-radius: 10px;
    background-image: url("/images/Fresher Assets-23.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    color: #fff;
  }

  .SectionWrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: inherit;
    z-index: 1;
  }

  .SectionWrapper > * {
    position: relative;
    z-index: 2;
  }

  .SectionTitle {
    font-size: 24px;
    margin: 0px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
  }

  .SectionPara {
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
  }

  .InputEl {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    background: #fff;
    color: #000;
    margin-bottom: 10px;
  }
}
@media (min-width: 1024px) {
  .SectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: start;
    padding: 50px;
    border-radius: 10px;
    background-image: url("/images/Fresher Assets-23.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    color: #fff;
    max-width: 600px;
  }

  .SectionWrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: inherit;
    z-index: 1;
  }

  .SectionWrapper > * {
    position: relative;
    z-index: 2;
  }

  .SectionTitle {
    font-size: 24px;
    margin: 0px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
  }

  .SectionPara {
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
  }

  .InputEl {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    background: #fff;
    color: #000;
    margin-bottom: 10px;
  }
}
