@media (max-width: 768px) {
  .SectionWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .FlexWrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
  .DetailsSection {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 0px 20px;
  }
  .WelcomeHeading {
    display: none;
  }
  .MiniCardsSection {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .SectionWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .FlexWrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
  .DetailsSection {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 0px 40px;
  }
  .WelcomeHeading {
    margin: 0px;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .MiniCardsSection {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
  }
}
@media (min-width: 1024px) {
  .SectionWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .FlexWrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
  .DetailsSection {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 0px 40px;
  }
  .WelcomeHeading {
    margin: 0px;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .MiniCardsSection {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}
