@media (max-width: 768px) {
  .wrapper {
    padding: 20px;
    background: #f5f6f8;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .secionTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  .secionTitle {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
  }
  .paragraph {
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 2px;
    color: #000;
  }
  .greenLine {
    display: none;
  }

  .cardContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: start;
  }

  .buttonHolder {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 40px;
    background: #f5f6f8;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 200px;
  }
  .secionTitleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  .secionTitle {
    margin: 0px;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1px;
    white-space: nowrap;
    color: #000;
  }
  .paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #000;
  }
  .greenLine {
    min-height: 2px;
    background: #c9deb1;
    width: 100%;
  }

  .cardContainer {
    display: flex;
    gap: 30px;
    justify-content: space-around;
  }

  .buttonHolder {
  }
}
